.hpcherry {
    background: #ccc !important;   
}

.hpcherry img {
    outline: 1px solid #22746b !important;
}

.hpcherry img:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    background-color: rgba(255, 255, 255, 0.25);
}

.hpcherry-box {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 180px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background:rgba(33, 111, 195, 0.85);
    z-index: 9999;
}

.hpcherry-box * {
    margin: 0;
    padding: 0;
    user-select: none;
}

.hpcherry-box .u-tlt {
    padding: 10px 0;
    font-size: 20px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
}

.hpcherry-box .m-content {
    margin-top: 20px;
}

.hpcherry-box .u-sub-tlt {
    font-size: 18px;
    line-height: 20px;
}

.hpcherry-box .u-data {
    padding-top: 5px;
    font-size: 18px;
    line-height: 20px;
}

.hpcherry-box .u-btn {
    padding: 2px 4px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor:pointer;
    text-decoration:none;
    outline:none;
}

.hpcherry-box .u-btn + .u-btn {
    padding-left: 5px;
}

